body {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    text-align: center;
    background-color: #fffff3;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
    font-size: 70px;
    margin: .5em;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    font-weight: normal;
    margin: 1.5em 0 0.5em;
}

h2:first-of-type {
    margin-top: 2em;
}

table,
tr,
td {
    border: 1px solid #e7e7e7;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #C6D1B3;
    border: none;
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}