h1 {
    font-size: 3em;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 500px;
    min-height: 500px;
    padding: 32px;
}

.deck .card {
    height: 94px;
    width: 94px;
}

.deck .card.show {
    font-size: 32px;
}

.deck .card.match {
    font-size: 32px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 300px;
}

.score-panel .time {
    margin: 0 5px 0 55px;
}