/*
 * Styles for the deck of cards
 */

.deck {
    width: 400px;
    min-height: 400px;
    padding: 20px;
}

.deck .card {
    height: 80px;
    width: 80px;
}

.deck .card.show {
    font-size: 30px;
}

.deck .card.match {
    font-size: 30px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 240px;
}

.score-panel .time {
    margin: 0 5px 0 25px;
}