h1 {
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 10px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 660px;
}

.deck .card {
    height: 125px;
    width: 125px;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 345px;
}

.score-panel .time {
    margin: 0 5px 0 80px;
}